body {
    font-family: 'Eagle Lake', cursive;
    font-size:25px;
    margin-bottom: 150px;
}

h2 { 
    font-family: 'IM Fell English SC', serif;
}

.btn-primary,.reset {
    background-color: black;
    color: silver;
    font-family: 'Uncial Antiqua', cursive;
    font-size: 40px;
    padding: 10px;
    margin-bottom: 100px;
    border: none;
}

.btn-primary:hover, .reset:hover {
    background-color: whitesmoke;
}

.container {
    margin-top: 20px;
    width: 700px;
}

#startOverBtn {
    margin-left: 200px;
    margin-right: 200px;
}

.userChoice:hover {
    background-color: silver;
    color: black;
    padding: 20px;
    margin-left: 300px;
    margin-right: 300px;

}

#gif {
    background-color: black;
}